*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#25004d,#5b0ea6,#ff4fc3);
    color:white;
    min-height:100vh;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
}

header h1{
    font-size:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 12px;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    color:#ffd700;
}